.homepage {
    align-items: center;
    display: flex;
    width: 375px;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(180deg, rgba(209, 231, 221, 0.50) 0%, rgba(1, 110, 60, 0.50) 100%), #FFF;
}

.request-submit-button {
    border-radius: 8px; 
    color: black;
    background: #D1E7DD; 
    border: none; 
    padding: 5px 10px; 
    margin: 5px; 
    cursor: pointer;
    font-weight: normal; 
    transition: background-color 0.3s; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  