.homepage-container {
    padding-top: 60px;
    padding-bottom: 70px;
    min-height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    background: linear-gradient(180deg, #D1E7DD 25%, #016E3C 100%);
  }

h2 {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.new-request-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    background-color: #D1E7DD; 
    padding:10px;
}

  