.homepage {
    align-items: stretch;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 20px; */
    background: linear-gradient(180deg, #D1E7DD 25%, #016E3C 100%);


    /* background: linear-gradient(180deg, rgba(209, 231, 221, 0.50) 0%, rgba(1, 110, 60, 0.50) 100%), #FFF; */
}

h2 {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.new-request-area {
    display: flex;
    /* margin: 40px; */
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    background-color: #D1E7DD; 
    padding:10px;
}
  