.custom-button {
    background-color: #6C757D; /* Grey */
    color: #FFFFFF; 
    border: none; /* no border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*  shadow */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth  */
  }
  
  .custom-button:hover {
    background-color: #5A6268; /* Darker on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* darker shadow on hover */
  }

  .custom-form {
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Shadow  */
    transition: box-shadow 0.3s ease; /* Smooth  */
  }
  
  .custom-form:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); /* Darker shadow*/
  }