.nav-icon {
  text-align: center;
  font-size: 1rem;
}

.nav-icon i {
  font-size: 1.5rem;
  color: #4B7260;
}

.nav-icon p {
  font-size: 0.85rem;
  margin: 0;
  color: #4B7260;
}

.navbar {
  height: 60px;
}

.navbar .nav-link {
  padding: 0;
}

.nav-icon.active {
  color: #1E854A;
}

.nav-icon.active i {
  color: #1E854A;
}

.nav-icon.active p {
  font-weight: bold;
  color: #1E854A;
}