h2 {
    font-family: 'Courier New', Courier, monospace;
}

.request-list-header {
    position: sticky;
    top: 60px;
    background-color: #D1E7DD;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; 
}

.hover-effect {
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
}

.hover-effect:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}